.container {
  margin: 0px auto;
  font-family: Arial, sans-serif;
  padding: 0px 30px;
  background-color: var(--background-color);
  padding: 40px 30px;
}

.questionform {
  display: flex;
  margin-bottom: 20px;
}

.questionform button {
  flex: 1;
  padding: 6px 10px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  color: black;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
}

.questionform button.active {
  font-weight: bold;
  background-color: #35abab;
}

.tab-content-question {
  padding: 30px 10px;
  border-radius: 5px;
  height: calc(100vh - 420px);
  overflow: hidden;
  overflow-y: auto;
  max-height: 100%;
}
.tab-content-question::-webkit-scrollbar {
  width: 8px;
}

.tab-content-question::-webkit-scrollbar-thumb {
  background-color: #35abab;
  border-radius: 10px;
}

.tab-content-question::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-group label div {
  border: 1px solid black;
  padding: 3px 2px;
  width: 10px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
}
.input-group textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color);
}
.input-group textarea:focus {
  outline: none;
  border: 1px solid #35abab;

}
.add_questionform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}
.add_questionform button {
  padding: 15px 10px;
  cursor: pointer;
  background-color: #35abab;
  color: white;
  transition: 0.5s ease all;
  border-radius: 3px;
  border: 1px solid #35abab;
  font-size: 16px;
  font-weight: 600;
}
.add_questionform button:hover {
  background-color: transparent;
  border: 1px solid white;
  background-color: white;
  /* color: black; */
}
.spinner-container-heigth {
  height: calc(70vh);
}
