.container {
  margin: 0px auto;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  padding: 40px 30px;
}

.answerform {
  display: flex;
  margin-bottom: 20px;
}

.answerform button {
  flex: 1;
  padding: 6px 10px;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  color: var(--text-color);
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 3px;
}

.answerform button.active {
  font-weight: bold;
  background-color: #35abab;
}

.tab-content {
  padding: 30px 10px;
  border-radius: 5px;
  border: none;
}

.input-group-answer {
  margin-bottom: 20px;
}
.input-group-answer div{
  position: relative;
}
.input-group-answer div button{
  position: absolute;
  right: 3px;
  bottom: 0;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.input-group-answer label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.input-group-answer label div {
  border: 1px solid black;
  padding: 3px 2px;
  width: 10px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
  margin-right: 7px;
}
.input-group-answer textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 0.5px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  color: var(--text-color);

}
.input-group-answer textarea:focus {
  outline: none;
  border: 1px solid #35abab;
}
